{% load static whats_new %}
<h5> Observations scheduled within the last {{ shown_period_in_hours }} hours:</h5>
<br/>

{% for obs in recent_observations %}
<div>
    <a href="https://observe.monet.uni-goettingen.de/requests/{{ obs.observation_record.observation_id }}/">
        <b> <font size="+2"> &#9864; </font> {{ obs.observation_record.parameters.name }} </b>
    </a>
    <br/>
    Target: <a href="{% url 'tom_targets:detail' obs.observation_record.target.id %}"> {{ obs.observation_record.target.name }} </a> <br/>
    Status: {{ obs.observation_record.status }} <br/>
    Priority Proposal:
        {%if obs.observation_record.target|get_target_extra:"Priority Proposal" == "True" %}
            True
        {% else %}
            False
        {% endif %}
    <br/>
    Image: <br/>
    <a href="{{ obs.image_url }}">
        <img src="{{ obs.image_url }}" width="650"/>
    </a>
</div>
<br/>

{% endfor %}

